@model mblyakher_budgeter.Models.ChangeNameViewModel

<div class="col-md-12">
    <div class="widget">
        <div class="widget-head">
            <div class="pull-left">Change Your Name</div>
            <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="fa fa-times"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">
            <div class="padd">
                <div class="form quick-post">
                    @using (Html.BeginForm("ChangeName", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h4>Change Name Form</h4>
                        <hr />
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.EditorFor(m => m.FirstName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.EditorFor(m => m.LastName, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Change Name" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="widget-foot">

            </div>
        </div>

    </div>
</div>
