@model IEnumerable<mblyakher_budgeter.Models.BudgetItem>

@{
    ViewBag.Title = "Index";
}

<div class="col-md-12">
    <div class="widget">
        <div class="widget-head">
            <div class="pull-left">List of Budget Items</div>
            <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="fa fa-times"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">
            <div class="padd">
                <div class="form quick-post">
                    <p>
                        @Html.ActionLink("Create New", "Create")
                    </p>
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Budget.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.BudgetItemType.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Amount)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Budget.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.BudgetItemType.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Amount)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>

                </div>
            </div>
            <div class="widget-foot">

            </div>
        </div>

    </div>
</div>

