@model mblyakher_budgeter.Models.Invite

@{
    ViewBag.Title = "Details";
}

<div class="col-md-12">
    <div class="widget">
        <div class="widget-head">
            <div class="pull-left">Invite Details</div>
            <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="fa fa-times"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">
            <div class="padd">
                <div class="form quick-post">
                    <div>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Household.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Household.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.EmailTo)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.EmailTo)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Created)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Created)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Code)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Code)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.SentFromId)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SentFromId)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </div>
            </div>
            <div class="widget-foot">

            </div>
        </div>

    </div>
</div>

