@model IEnumerable<mblyakher_budgeter.Models.Invite>

@{
    ViewBag.Title = "Index";
}

<div class="col-md-12">
    <div class="widget">
        <div class="widget-head">
            <div class="pull-left">List of Invitations</div>
            <div class="widget-icons pull-right">
                <a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
                <a href="#" class="wclose"><i class="fa fa-times"></i></a>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="widget-content">
            <div class="padd">
                <div class="form quick-post">
                    <table class="table">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Household.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmailTo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Created)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmailFrom)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Household.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmailTo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmailFrom)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
            <div class="widget-foot">

            </div>
        </div>

    </div>
</div>